<div class="input-group">
    <label for={{name}} class="input-label">{{label}}</label>
    <input type={{type}} class="input-field" placeholder={{placeholder}} name={{name}} required={{required}} />
</div>